@import url("http://fonts.cdnfonts.com/css/titillium");

@font-face {
  font-family: F1Bold;
  src: url(/fonts/F1Bold/Formula1-Bold.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: F1Regular;
  src: url(/fonts/F1Regular/Formula1-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: F1Wide;
  src: url(/fonts/F1Wide/Formula1-Wide.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

.site {
  background-color: rgb(247, 244, 241);
}

.bg {
  background-color: #15151e;
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -8px;
  height: 130px;
  width: -120px;
}
.f1-logo-nav {
  margin-top: 40px;
  margin-left: 40px;
  width: 12.5%;
}

.bar-log-in {
  background-color: #38383f;
  margin-left: -8px;
  height: 50px;
  width: 101%;
}

.sign-in {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  left: 42.3%;
  position: absolute;
  padding: 15px 25px;
}

.register {
  color: white;
  font-family: "F1Regular";
  font-size: 13px;
  margin-left: 49.6%;
  position: absolute;
  top: 17%;
  padding: 15px 25px;
}

.line-2 {
  background-color: none;
  position: absolute;
  left: -0.5%;
  height: 2.5px;
  width: 100%;
  top: 96.9%;
}

.register:hover div:nth-child(1) {
  background-color: white;
}

.line {
  background-color: red;
  position: absolute;
  margin-left: 42.2%;
  height: 3.5px;
  width: 6.8%;
  top: 22.5%;
}

.sign-in-text {
  font-family: "F1Bold";
  color: rgb(51, 51, 51);
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  left: 30.8%;
  top: 26.5%;
}

.sign-bar {
  background-color: rgb(247, 244, 241);
  position: absolute;
  height: 1px;
  width: 595px;
  top: 33.7%;
  left: 30.8%;
}

.email {
  color: #15151e;
  font-family: "Titillium", sans-serif;
  font-weight: lighter;
  position: absolute;
  font-size: 18px;
  top: 37.5%;
  left: 31.5%;
}

.email-input {
  position: absolute;
  font-family: "F1Regular";
  font-size: 12px;
  border-color: rgb(21, 21, 30, 0.397);
  border-style: inset;
  border-radius: 12px;
  height: 50px;
  width: 595px;
  left: 30.8%;
  top: 41%;
}

.password {
  color: #15151e;
  font-family: "Titillium", sans-serif;
  font-weight: lighter;
  font-size: 18px;
  position: absolute;
  top: 52.2%;
  left: 31.5%;
}

.password-input {
  position: absolute;
  font-family: "F1Regular";
  font-size: 12px;
  border-color: rgba(21, 21, 30, 0.397);
  border-radius: 12px;
  height: 50px;
  width: 595px;
  left: 30.8%;
  top: 55.8%;
}

.forgotten {
  color: black;
  font-family: "F1Regular";
  font-weight: bold;
  font-size: 12.5px;
  position: absolute;
  top: 67%;
  left: 58.5%;
}

.forgotten:hover {
  color: red;
}

.bar-forgotten {
  background-color: red;
  width: 160px;
  height: 2px;
  position: absolute;
  top: 69.5%;
  left: 58.5%;
}

.btn-sign-in {
  background-color: red;
  border-color: red;
  border-style: solid;
  border-radius: 5px;
  font-family: "Titillium", sans-serif;
  font-size: 14px;
  color: white;
  height: 33px;
  width: 105px;
  position: absolute;
  top: 71.5%;
  left: 30.8%;
}

.btn-sign-in:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.dont-account {
  font-family: "Titillium", sans-serif;
  font-size: 17.7px;
  position: absolute;
  top: 79.5%;
  left: 30.8%;
}

.register-f1 {
  color: black;
  font-family: "Titillium", sans-serif;
  font-weight: bold;
  font-size: 17.7px;
  position: absolute;
  top: 79.5%;
  left: 44.5%;
}

.register-f1:hover {
  color: red;
}

.f1-line-register {
  background-color: red;
  width: 127px;
  height: 2px;
  position: absolute;
  top: 82.8%;
  left: 44.5%;
}

a:link {
  text-decoration: none;
}

.line-footer {
  position: absolute;
  border-top: rgb(56, 56, 63);
  border-right: rgb(56, 56, 63);
  border-top-right-radius: 25px;
  border-left: rgb(247, 244, 241);
  border-bottom: rgb(247, 244, 241);
  border-style: solid;
  border-top-width: 10px;
  border-right-width: 10px;
  height: 140px;
  width: 1535px;
  bottom: -7.5%;
  left: 1%;
}
